# folders or files
detectron2/
datasets/*
testing/image_2
training/image_2
# .vscode/
.ipynb_checkpoints/
.idea/
output/
cubercnn/external/
wandb/
hpc_logs/
depth/checkpoints/
ProposalNetwork/proposals/network_out.pkl
.vscode/settings.json
submit.sh
profiling/

# filetypes
*.pyc
*.mexa64
*/output/*
*/output*/*
*~
*.so
#*.ipynb
ProposalNetwork/proposals/figs/*