[submodule "segment-anything"]
	path = segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "GroundingDINO"]
	path = GroundingDINO
	url = https://github.com/AndreasLH/GroundingDINO
[submodule "sam-hq"]
	path = sam-hq
	url = https://github.com/SysCV/sam-hq.git
