# load a recent gcc version (>12.3) first
# and cuda matching pytorch installation

fvcore
iopath
wheel
ninja
git+https://github.com/facebookresearch/pytorch3d.git@stable
git+https://github.com/facebookresearch/detectron2.git

matplotlib
numpy
opencv-python
pyransac3d
pandas
wandb